name: Actualizacion Diaria Monitor Campo

on:
  schedule:
    - cron: '0 6 * * 1-5'
  workflow_dispatch:

jobs:
  run_scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar codigo
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerias
        run: pip install supabase requests pandas beautifulsoup4

      - name: Ejecutar Monitores
        run: 
          python monitor_agrotech_v1.py 
          python clima_monitor.py.py
